 /* styles.css */
body {
  background-color: #333; /* Carbon background color */
  color: rgb(250, 214, 5);  
  font-size: 23px; /* Increase font size */
}
.logo{
  width: 7%;
  height:70px;
  vertical-align: middle;
}
.navbar {
  background-color: #222;  
  padding: 10px 0;  
}

.nav-links {
  display: flex;
  justify-content: space-around;  
}

.nav-link {
  text-decoration: none;
  color: rgb(250, 214, 5);  
  margin: 0 20px; 
}

 
 
 
.add-game-form {
  display: flex;
  flex-direction: column;
  max-width: 1700px;
  margin: 0 auto;
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
}

.input-field {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #555;
  color: white;
}

.submit-button {
  background-color:rgb(250, 214, 5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0ae211;
}
 
.game-card {
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

.delete-btn,
.edit-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-btn {
  background-color: #007bff;
}

.delete-btn:hover,
.edit-btn:hover {
  background-color: #b2c823;
}

 
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  color: white;
}

.searchform-container {
  text-align: center;
  margin-bottom: 20px;
}

.searchform {
  display: flex;
  align-items: center;
}

.searchbar {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  background-color: #444;
  color: rgb(250, 214, 5);
  border-radius: 3px;
}

.searchbutton {
  background-color: rgb(250, 214, 5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.searchbutton:hover {
  background-color: #ff9306;
}

.searchTip {
  text-align: center;
}
 
 
.game-card {
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;  
  margin: 10px 0; 
  box-sizing: border-box;  
}

.game-card img {
  max-width: 100%;  
  height: auto;  
  display: block;
  margin-bottom: 10px;  
}

.game-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.game-description {
  font-size: 14px;
  margin-bottom: 5px;
}

.game-rating {
  font-size: 14px;
}

 
.column::after {
  content: '';
  display: table;
  clear: both;
}

 
.column {
  float: left;
  width: 33.33%;
}

 
.logo-image{
  display: flex;
  justify-content: center;
}
.mission-statement{
  display:flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}
.home-title{
  display: flex;
  justify-content: center;
  font-size: 50px;
}